﻿@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Segundo Parcial</h1>
        <h4>Nombre: Mario Josue Rivera Morales </h4>
        <h4>Carnet: 2016-RM-605</h4>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <div class="gallery">
        <img src="https://galeria2016rm605.blob.core.windows.net/gallery/blusa1.jpg" alt="blusa1" width="250" height="250" />
        <img src="https://galeria2016rm605.blob.core.windows.net/gallery/blusa2.jpg" alt="blusa2" width="250" height="250" />
        <img src="https://galeria2016rm605.blob.core.windows.net/gallery/camisa1.jpg" alt="camisa1" width="250" height="250" />
        <img src="https://galeria2016rm605.blob.core.windows.net/gallery/camisa2.jpg" alt="camisa2" width="250" height="250" />
        <img src="https://galeria2016rm605.blob.core.windows.net/gallery/taza.jpg" alt="taza"width="250" height="250" />
    </div>